# Copyright 2024 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

# editors
.vscode
*.swp
*~
.idea

# python
.venv
__pycache__/

# build
build*
/twister-out*
cmake-build-*/

# documentation
doc/_build
doc/doxygen
doc/xml
doc/html

# samples private conf used to store secrets like wifi passwords and credential secrets
samples/*/private.conf
e2e/private.conf

# cache
.cache

# End to end self signed certificates for the HTTP server
e2e/http_server_certs/192.0.2.2.pem
e2e/http_server_certs/192.0.2.2.key

# All data in the http_server_data folder
e2e/http_server_data/*.txt
e2e/http_server_data/*.lz4
