# Copyright 2024 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

# editors
.vscode
*.swp
*~
.idea

# python
.venv
__pycache__/

# build
build*
/twister-out*
cmake-build-*/

# documentation
doc/_build
doc/doxygen
doc/xml
doc/html

# samples private conf used to store secrets like wifi passwords and credential secrets
samples/*/private.conf

# cache
.cache
