# (C) Copyright 2024, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

config EDGEHOG_DEVICE
	bool "Edgehog device library"
	select ASTARTE_DEVICE_SDK
	select NVS
	select IMG_MANAGER
	select FLASH
	select FLASH_MAP
	select FLASH_PAGE_LAYOUT
	select STREAM_FLASH
	select REBOOT
	help
	  This option enables the Edgehog device library

config EDGEHOG_DEVICE_SERIAL_NUMBER
	string "Serial number that will identify this device"
	depends on EDGEHOG_DEVICE
	help
	  The value passed as part of SystemInfo interface.

config EDGEHOG_DEVICE_PART_NUMBER
	string "Part number that will identify this device in ota campaigns"
	depends on EDGEHOG_DEVICE
	help
	  This changes the value passed as part of SystemInfo interface.
config EDGEHOG_DEVICE_CA_CERT_OTA_TAG
	int "CA root certificate TLS security tag for the OTA download URL"
	depends on EDGEHOG_DEVICE
	depends on !EDGEHOG_DEVICE_DEVELOP_DISABLE_OR_IGNORE_TLS
	help
	  The CA certificate should be added by the user with the tls_credential_add function.
	  This configuration option should be set to the tag used when adding the CA certificate.

config EDGEHOG_DEVICE_USE_EDGEHOG_PARTITION
	bool "Enable edgehog_partition NVS partition label for edgehog storage"
	depends on EDGEHOG_DEVICE
	default false
	help
		Use this option to use edgehog_partition NVS partition for storing the edgehog data.
		In order to use it, the board.dts must cointain the `edgehog_partion` node,
		or it must be provided by dts overlay.

config EDGEHOG_DEVICE_ZBUS_OTA_EVENT
	bool "Enable ZBus OTA channel for receiving OTA event"
	depends on EDGEHOG_DEVICE
	select ZBUS
	default false
	help
		Enable this option to receive OTA events in a ZBus observers.
		Receiving it in Subscriber(asynchronous), or Message subscribers(asynchronous),
		is preferred over Listener (synchronous), because it is received
		in a separate context of the publisher, without blocking the OTA thread.

menu "Development options"

config EDGEHOG_DEVICE_DEVELOP_DISABLE_OR_IGNORE_TLS
	bool "Disable TLS for all sockets"
	depends on EDGEHOG_DEVICE
	default false
	help
	  Enable this option to connect to a local Edgehog instance.
	  With this option enabled:
	  - All HTTP(s) operations will be performed over an unsecure channel. Without TLS.
	  	However, any error related the server certificate will be ignored.

	  Should be used only for development purposes as it's highly unsafe.

endmenu

menu "Logging options"

module = EDGEHOG_DEVICE_DEVICE
module-str = Log level for Edgehog device
module-help = Sets log level for Edgehog device.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_HARDWARE_INFO
module-str = Log level for Edgehog device hardware informantions
module-help = Sets log level for Edgehog device hardware informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_OS_INFO
module-str = Log level for Edgehog device operating system informantions
module-help = Sets log level for Edgehog device operating system informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_SYSTEM_INFO
module-str = Log level for Edgehog device system informantions
module-help = Sets log level for Edgehog device system informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_BASE_IMAGE
module-str = Log level for Edgehog device software image informations
module-help = Sets log level for Edgehog device software image informations.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_UTIL
module-str = Log level for Edgehog device utility functions
module-help = Sets log level for Edgehog device utility functions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_HTTP
module-str = Log level for Edgehog device connectivity utilities
module-help = Sets log level for Edgehog device connectivity utilities.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_OTA
module-str = Log level for Edgehog device OTA utilities
module-help = Sets log level for Edgehog device OTA utilities.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_NVS
module-str = Log level for Edgehog device NVS utilities
module-help = Sets log level for Edgehog device NVS utilities.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_COMMAND
module-str = Log level for Edgehog device Command utilities
module-help = Sets log level for Edgehog device Command utilities.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_RUNTIME_INFO
module-str = Log level for Edgehog device Runtime informantions
module-help = Sets log level for Edgehog device Runtime informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_SYSTEM_STATUS
module-str = Log level for Edgehog device System status informantions
module-help = Sets log level for Edgehog device System status informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_STORAGE_USAGE
module-str = Log level for Edgehog device Storage usage informantions
module-help = Sets log level for Edgehog device Storage usage informantions.
source "subsys/logging/Kconfig.template.log_config"

module = EDGEHOG_DEVICE_LED
module-str = Log level for Edgehog device led controller.
module-help = Sets log level for Edgehog device led controller.
source "subsys/logging/Kconfig.template.log_config"

endmenu
