/*
 * (C) Copyright 2024, SECO Mind Srl
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

/ {
    chosen {
        /* Move the default Zephyr RAM allocation to the 320KB SRAM3 bank */
        zephyr,sram = &sram3;
    };
};

&flash0 {
    partitions {
        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x00010000 DT_SIZE_K(512)>;
        };

        slot1_partition: partition@90000 {
            label = "image-1";
            reg = <0x00090000 DT_SIZE_K(512)>;
        };

        storage_partition: partition@110000 {
            label = "storage";
            reg = <0x00110000 DT_SIZE_K(72)>;
        };

        astarte_partition: partition@122000 {
            label = "astarte";
            reg = <0x00122000 DT_SIZE_K(128)>;
        };

        edgehog_partition: partition@142000 {
            label = "edgehog_storage";
            reg = <0x00142000 DT_SIZE_K(64)>;
        };
    };
};
