# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Interfaces

on:
  workflow_call:

env:
  EDGEHOG_INTERFACES_REF: v0.8.0

jobs:
  interface-check:
    runs-on: ubuntu-latest
    concurrency:
      group: interface-check-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout Edgehog device
        uses: actions/checkout@v6
        with:
          path: edgehog-zephyr-device
      - name: Set CI manifest as defaults
        working-directory: edgehog-zephyr-device
        run: mv west-ci-4.2.yml west.yml
      - name: Checkout Edgehog interfaces
        uses: actions/checkout@v6
        with:
          repository: edgehog-device-manager/edgehog-astarte-interfaces
          ref: ${{ env.EDGEHOG_INTERFACES_REF }}
          path: edgehog-astarte-interfaces
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: edgehog-zephyr-device
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: edgehog-zephyr-device
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Copy supported interfaces to the edgehog interfaces folder
        working-directory: edgehog-astarte-interfaces
        run: |
          mkdir ../edgehog-zephyr-device/interfaces
          cp io.edgehog.devicemanager.BaseImage.json \
            io.edgehog.devicemanager.Commands.json \
            io.edgehog.devicemanager.HardwareInfo.json \
            io.edgehog.devicemanager.OSInfo.json \
            io.edgehog.devicemanager.OTAEvent.json \
            io.edgehog.devicemanager.OTARequest.json \
            io.edgehog.devicemanager.RuntimeInfo.json \
            io.edgehog.devicemanager.StorageUsage.json \
            io.edgehog.devicemanager.SystemInfo.json \
            io.edgehog.devicemanager.SystemStatus.json \
            io.edgehog.devicemanager.LedBehavior.json \
            io.edgehog.devicemanager.WiFiScanResults.json \
            io.edgehog.devicemanager.BatteryStatus.json \
            io.edgehog.devicemanager.config.Telemetry.json \
            ../edgehog-zephyr-device/interfaces
      - name: Generate interface reference code
        working-directory: edgehog-zephyr-device
        run: west generate-interfaces interfaces
      - name: Check interfaces difference
        working-directory: edgehog-zephyr-device
        run: |
          if diff -w lib/edgehog_device/include/generated_interfaces.h interfaces/generated_interfaces.h &&
             diff -w lib/edgehog_device/generated_interfaces.c interfaces/generated_interfaces.c; then
            echo "Generated interfaces files are up to date"
          else
            echo "The generated interfaces files are different from the files generated from version $EDGEHOG_INTERFACES_REF of edgehog-astarte-interfaces"
            exit 1
          fi
