# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Static

on:
  workflow_call:
    inputs:
      PROJECT_MANIFEST_FOLDER:
        required: true
        type: string
      SAMPLE_NAME:
        required: true
        type: string

env:
  PROJECT_MANIFEST_FOLDER: ${{ inputs.PROJECT_MANIFEST_FOLDER }}
  SAMPLE_NAME: ${{ inputs.SAMPLE_NAME }}

jobs:
  clang-format:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-format-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Check format
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: west format --dry-run
  code-checker:
    runs-on: ubuntu-latest
    concurrency:
      group: code-checker-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: x86_64-zephyr-elf
      - name: Install Python dependencies
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: pip install -r $PWD/scripts/requirements.txt
      - name: Install codechecker through pipx
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: |
          sudo apt install pipx
          pipx ensurepath
          pipx install codechecker
      - name: Run clang-tidy
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: west static --sample ${{ env.SAMPLE_NAME }}
