# (C) Copyright 2026, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Unit tests

on:
  workflow_call:
    inputs:
      PROJECT_MANIFEST_FOLDER:
        required: true
        type: string
      LIBRARY_NAME:
        required: true
        type: string

env:
  PROJECT_MANIFEST_FOLDER: ${{ inputs.PROJECT_MANIFEST_FOLDER }}
  LIBRARY_NAME: ${{ inputs.LIBRARY_NAME }}

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: unit-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.PROJECT_MANIFEST_FOLDER }}
      - name: Set CI manifest as defaults
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: mv west-ci-4.2.yml west.yml
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: ${{ env.PROJECT_MANIFEST_FOLDER }}
          toolchains: arm-zephyr-eabi:x86_64-zephyr-elf
      - name: Run integration tests
        working-directory: ${{ env.PROJECT_MANIFEST_FOLDER }}
        run: |
          west twister --disable-warnings-as-errors -v --inline-logs --filter runnable --integration -T tests/lib/${{ env.LIBRARY_NAME }}/unit
          west twister -v --inline-logs --filter runnable --integration -T tests/lib/${{ env.LIBRARY_NAME }}/integration
